.header {
    align-items: center;
    background-color: #ffffff;
    border: solid 0.1rem #e6e1e6;
    box-sizing: border-box;
    height: 70px;
    width: 100%;
}

.store-name {
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #4c4b4c;
}
.branch-name {
    height: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #4c4b4c;
}
header button {
    border: 0;
    background: transparent;
}
