.forgot-password-page h1 {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-title);
    margin-bottom: 0;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 24px;
}

.forgot-password-page {
    background-image: url('../../../images/bg-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-forgot img {
    width: 28px;
    height: 28px;
}
.logo-forgot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo-forgot .logo-text {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: var(--color-main);

    font-family: Roboto;
}
.forgot-password-page-box p {
    font-size: 14px;
    font-family: 'Roboto';
    color: #586a84;
    margin-bottom: 32px;
}
.forgot-password-page-box {
    max-width: 480px;

    margin: auto;
    -webkit-box-shadow: 0px 4px 20px 0px #aaa9b81a;
    box-shadow: 0px 4px 20px 0px #aaa9b81a;
    border-radius: 12px;
    background-color: #fff;
    padding: 40px 24px;
    padding-bottom: 48px;
}
.forgot-password-page-box .ant-form-item:first-child {
    margin-bottom: 32px;
}
.forgot-password-page-box button {
    width: 100%;
    background: var(--color-main);
    font-family: 'Roboto';
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    height: auto;
    line-height: 18.5px;
    padding: 14.5px 0;
}
.back_login {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #009ef7;
    text-decoration: none;
    margin-top: 28px;
}
.forgot-password-page-box input {
    background-color: #f2f6fa;
    border-radius: 6px;
    font-family: 'Roboto';
    font-size: 14px;
    border: 0;
    padding: 12px 20px;
}
.forgot-password-page .MuiFormLabel-root {
    font-size: 14px;
    top: -3px;
    color: #7d8fa9;
}
@media (max-width: 576px) {
    .forgot-password-page {
        padding-left: 24px;
        padding-right: 24px;
    }
}
